# Install the following packages:

pandas
numpy
scikit-learn
torch
matplotlib
openpyxl

## Example of Installation

#Open Command Prompt or PyCharm Terminal and run:
#pip install pandas numpy scikit-learn torch matplotlib openpyxl
#or
#python -m pip install pandas numpy scikit-learn torch matplotlib openpyxl